@{
    ViewBag.Title = "Administración BalcazzHT";
}



<div class="row">
    <div class="col-md-4">
        <h2>Facturacón</h2>
       
        <p><a class="btn btn-default" href="/admin/Facturas/index">Clientes &raquo;</a></p>
        <p><a class="btn btn-default" href="/admin/Conceptos/index">Ventas &raquo;</a></p>
    </div>
  
</div>